.ipynb_checkpoints/lab_01-checkpoint.ipynb
.ipynb_checkpoints/lab_02-checkpoint.ipynb
.ipynb_checkpoints/lab_03-checkpoint.ipynb
.ipynb_checkpoints/lab_04-checkpoint.ipynb
images.zip
/.ipynb_checkpoints
